h3 Интерфейс рекламодателя
h4 Раздел "Мои офферы":
ul 
    li
        strong Посмотреть список всех созданных "офферов":
        p По каждому "офферу" выводится его наименование, ссылка и список подписанных на него веб-мастеров.
        p "Оффер" можно включить/отключить методом перемещения. В мобильной версии необходимо переместить "оффер" слева-направо.
h4 Раздел "Создать оффер":
strong Для создания "оффера" необходимо указать следующие данные:
ul 
    li Наименование "оффера"
    li Стоимость перехода по ссылке
    li Путь URL
    li Указание тематики "оффера" из предложенных
    li Добавление изображения в формате *.png или *.jpeg
h4 Раздел "Статистика":
strong Позволяет посмотреть количество переходов и расходы по интересуемому "офферу":
ul 
    li Для вывода необходимо выбрать "оффер" и временной период в полях "От" и "До". 
    li В случае незаполненного поля "До" по умолчанию будет выставлена текущая дата.
    li Если незаполненными оставить оба поля, по умолчанию будет показан доход за все время.

    

