h3 Интерфейс веб-мастера
h4 Раздел "Подписки":
p Здесь размещены "офферы", на которые подписан веб-мастер.
p Каждый "оффер" показывает:
    ul
        li Ссылку перехода
        li Ссылку с изображением для сайта

h4 Раздел "Подписаться":
p Для показа "офферов" необходимо выбрать тематику и нажать "Загрузить офферы".
p У загруженных "офферов" показаны наименование, стоимость перехода, изображение.
p Для подписки на "оффер" необходимо нажать "подписаться".

h4 Раздел "Статистика"
p Для вывода статистики необходимо выбрать "оффер" и временной период в полях "От" и "До". 
p В случае незаполненного поля "До" по умолчанию будет выставлена текущая дата
p Если незаполненными оставить оба поля - по умолчанию будет показана статистика за все время. 