button.guest-menu__auth Вход
button.guest-menu__registry Регистрация

noscript
    a(href="/auth") 
        button.guest-menu__auth Вход
    a(href="/registry") 
        button.guest-menu__registry Регистрация